body {
  height: 100%;
  width: 100%;
  background: #faedcd;
  font-family: arial, sans-serif;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  display: block;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  color: #fcd5ce;
}

#search-form {
  margin-top: 10px;
  border-bottom: 1px solid #faedcd;
  padding-bottom: 20px;
}

#city-input {
  background: #faedcd;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: #4a4e69;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

#searchBtn {
  background: #d4a373;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.Weather .search-input::placeholder {
  line-height: 20px;
  color: #9a8c98;
}

h1 {
  line-height: 29px;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
  margin-bottom: 0;
  font-weight: 700;
  display: block;
  margin-block-start: 20px;
  margin-block-end: 20px;
  margin-inline-start: 40px;
  margin-inline-end: 20px;
}

ul {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

li {
  font-weight: 500;
  margin-bottom: 5px;
  color: #9a8c98;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 100%;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border-radius: 5px;
}

.overview {
  margin-bottom: 0px;
}

.weather-temperature {
  display: block;
  padding: calc(10%) calc(10%) calc(2%) calc(10%);
  color: rgb(33, 33, 33);
  margin-left: 5px;
  font-weight: 400;
  font-weight: bold;
  font-size: 72px;
  line-height: 1;
}

.weather-temperature img {
  margin-right: 5px;
  height: 72px;
  width: 72px;
}

#temperature {
  display: inline-block;
  vertical-align: top;
}

.weather-temperature .units {
  color: rgb(33, 33, 33);
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

#suntime {
  display: block;
  padding: calc(0%) calc(0%) calc(0%) calc(5%);
}

.weather-forecast {
  display: block;
  text-align: center;
  margin: 20px auto;
  border-bottom: 1px solid #faedcd;
  padding-bottom: 40px;
}

.weather-forecast-date {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #9a8c98;
}

.weather-forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #ffb5a7;
  font-weight: bold;
}

footer {
  font-size: 14px;
  margin-top: 20px;
  line-height: 15px;
  text-align: center;
  color: #9a8c98;
}

footer a {
  color: #d4a373;
}
